.btn{
  @include single-box-shadow;
}

.navbar{
  @include single-box-shadow;
}

.toolbar{
  position:fixed;
  padding:5px;
  z-index: 900;
  .btn{
    opacity: 0.75;
    &.selected-count{
      visibility: hidden;
      display: none;
    }
  }
}

.home{
  .directory{
    .btn{
      margin:5px;
    }
  }
}

.wall{
  .box{
    width: 230px;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
    @media only screen and (min-width: 0px) and (max-width: 679px) {
      width: 100%;
    }
    @include single-box-shadow;
    .image{
      float: left;
      margin-bottom: 0;
      @include single-box-shadow;
    }
    .current-price{
      float: right;
      clear:right;
    }
    .bid-count{
      float: right;
    }
    .divider{

    }
    .title{

    }
  }
}

#footer{
  margin-top: 10px;
  padding: 10px 20px 0 20px;
  @include single-box-shadow;
  @media only screen and (min-width: 0px) and (max-width: 679px) {
    visibility: hidden;
    display: none;
    margin: 0;
    padding: 0;
  }
}